/* Global ========= */
:root {
  --primary-color: #215a58;
  --secondary-color: #007fa3;
  --third-color: #e8efef;
  --title: #3f3d56;
  --text: #3e4954;
  --option: #878787;
  --background: #f3f5f5;
  --table-row-background: #fafbfb;
  --white-background: #ffffff;
  --input-border: #dfe1e5;
  --delete-red: #ea4747;
}

.users__container h1 {
  font-weight: 400;
  font-size: 30px;
  color: var(--primary-color);
}
