/* Global ========= */
:root {
  --primary-color: #215a58;
  --secondary-color: #007fa3;
  --third-color: #e8efef;
  --title: #3f3d56;
  --text: #3e4954;
  --option: #878787;
  --background: #f3f5f5;
  --table-row-background: #fafbfb;
  --white-background: #ffffff;
  --input-border: #dfe1e5;
  --delete-red: #ea4747;
}

/* Header ========= */
.header__header {
  width: 100%;
  height: 88px;
  background-image: url(../../img/header-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
}

/* .header__header > svg {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 0 0 6px 0;
  align-self: start;
} */

.header__container {
  width: 96%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header__icon {
  font-size: 30px;
  color: #215a58;
  cursor: pointer;
}

.header__content {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__title {
  font-size: 16px;
  color: var(--title);
  padding-right: 20px;
}

.header__content svg {
  width: 30px;
  height: 30px;
  color: var(--primary-color);
}
