/* Global ========= */
:root {
  --primary-color: #215a58;
  --secondary-color: #007fa3;
  --third-color: #e8efef;
  --title: #3f3d56;
  --text: #3e4954;
  --option: #878787;
  --background: #f3f5f5;
  --table-row-background: #fafbfb;
  --white-background: #ffffff;
  --input-border: #dfe1e5;
  --delete-red: #ea4747;
}

/* Sidebar ========= */
.sidebar__aside {
  width: 120px;
  /* height: 100px; */
  display: flex;
  background-color: #ffffff;
  /* overflow-y: auto;
  overflow-x: hidden; */
  transition: all 0.3s;
}

.sidebar__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
}

.sidebar__logo {
  width: 80px;
  height: 80px;
  margin: 40px auto;
}

.sidebar__ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__li {
  list-style-type: none;
  color: var(--option);
}

.sidebar__li:last-child {
  margin: auto 0 30px 0;
}

.sidebar__link {
  font-size: 16px;
  text-decoration: none;
  color: var(--option);
}

.sidebar__current-page {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 5px 20px;
  border-radius: 6px;
  transition: color 0.2s, margin 0.2s;
}

.sidebar__current-page:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.sidebar__current-page svg {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.sidebar__current-page span {
  display: none;
}

/* Active ========= */
.sidebar__aside.active {
  width: 200px;
}

.sidebar__aside.active .sidebar__logo {
  width: 80px;
  height: 80px;
  margin: 40px auto;
}

.sidebar__aside.active .sidebar__current-page {
  width: 185px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 5px 0 5px 15px;
  border-radius: 6px 0 0 6px;
}

.sidebar__aside.active .sidebar__current-page svg {
  margin: 0 8px;
}

.sidebar__aside.active .sidebar__current-page span {
  display: block;
}

.sidebar__link #active {
  background-color: var(--background);
  color: var(--primary-color);
}

/* .ativado {
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
} */
