/* Global ========= */
:root {
  --primary-color: #215a58;
  --secondary-color: #007fa3;
  --third-color: #e8efef;
  --title: #3f3d56;
  --text: #3e4954;
  --option: #878787;
  --background: #f3f5f5;
  --table-row-background: #fafbfb;
  --white-background: #ffffff;
  --input-border: #dfe1e5;
  --delete-red: #ea4747;
}

/* Table ========= */
.table__container {
  max-width: 100%;
  height: 670px;
  margin-top: 36px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.table__data-table {
  width: 100%;
  text-align: left;
  border-spacing: 0 10px;
}

.table__data-table thead {
  font-size: 16px;
  position: sticky;
  color: var(--title);
  background-color: var(--white-background);
}

.table__data-table tbody {
  font-size: 14px;
  color: var(--text);
}

.table__data-table th,
.table__data-table td {
  font-weight: 400;
  padding: 20px 10px;
}

.table__data-table th:first-child,
.table__data-table td:first-child {
  padding-left: 20px;
}

.table__data-table th:last-child,
.table__data-table td:last-child {
  padding-right: 20px;
}

.table__data-table tbody tr {
  background-color: var(--table-row-background);
  transition: background-color 0.2s;
}

.table__data-table tbody tr:hover {
  background-color: var(--white-background);
}

.table__input {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: var(--text);
  padding: 6px 0;
}

.table__input:focus {
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
}

.table__icons svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.2s;
}

.table__edit-icon {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  margin-right: 20px;
  padding: 2px;
}

.table__save-icon {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  margin-right: 20px;
  padding: 2px;
}

.table__delete-icon {
  color: var(--delete-red);
  border: 1px solid var(--delete-red);
  border-radius: 3px;
  margin-right: 20px;
  padding: 2px;
}

.table__edit-icon:hover {
  background-color: var(--secondary-color);
  color: var(--white-background);
}

.table__save-icon:hover {
  background-color: var(--primary-color);
  color: var(--white-background);
}

.table__delete-icon:hover {
  background-color: var(--delete-red);
  color: var(--white-background);
}

/* Border Radius ========= */
.table__data-table tr th:first-child {
  border-radius: 6px 0 0 0;
}

.table__data-table tr th:last-child {
  border-radius: 0 6px 0 0;
}

.table__data-table tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}

.table__data-table tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}

/* Data Styles ========= */

/* User Types ========= */
.table__admin-type {
  background-color: #b8b7d1;
  color: #44435f;
  padding: 6px 10px;
  border-radius: 3px;
}

.table__doctor-type {
  background-color: #7bc0be;
  color: #0c5452;
  padding: 6px 10px;
  border-radius: 3px;
}

.table__patient-type {
  background-color: #c7daf5;
  color: #2b528a;
  padding: 6px 10px;
  border-radius: 3px;
}

/* Status Types ========= */
.table__scheduled-type {
  background-color: #f5eea7;
  color: #8f8414;
  padding: 6px 10px;
  border-radius: 3px;
}
.table__fullfield-type {
  background-color: #7bc0be;
  color: #0c5452;
  padding: 6px 10px;
  border-radius: 3px;
}
.table__canceled-type {
  background-color: #ffb0b1;
  color: #be2527;
  padding: 6px 10px;
  border-radius: 3px;
}

.table__no-description {
  color: var(--option);
}
